{% extends 'dummy.html' %}

{% block title %}
    <title>change_password</title>
    <style>
        body{
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDNsJjiFFBxL6J5C1sOE3j21Cr0wd2eOhBBQ&usqp=CAU');
        }fieldset{
            background-color: aqua;
            margin-top: 170px;
            margin-left: 200px;
            width: fit-content;
            border-radius: 30px;
        }
    </style>
{% endblock %}


{% block body_block %}
    
<fieldset border="3px">
    <h1>password page</h1>
    <form  method="POST">
        {% csrf_token %}
        <label for="pw">New Password</label>
        <input type="password" name="pw" id="pw"><br>
        <input type="submit" value="change_password" class="btn btn-danger">

    </form>
</fieldset>
{% endblock %}